<!--
<div class="grid-container">
    
    <div class="btnn">
        <div fxLayout="row" fxLayoutAlign="center center" >
            <div fxFlex="20">
                <label >Rahul Krishna</label>
            </div>
            <div fxFlex="80">
                <button mat-button color="primary" >Logout</button>

            </div>
        
        </div>
        
    </div>
</div>-->

<div fxLayout="row" fxLayoutAlign="center center" style="padding:1%;" >
    <div fxFlex="70">
        <img src="assets\photos\Group 2.png" alt="navbar">
    </div>
    <div fxFlex="15">
        <label class="user">Rahul Krishna</label>
    </div>
    <div fxFlex>
        <button mat-button color="primary" >Logout</button>

    </div>
</div>
<hr>

<router-outlet></router-outlet>