<app-header></app-header>

<div fxLayout="row"  style="padding-top: 3%;">
    <div class="rfid" fxFlex="40" fxFlexOffset="15" >
    <a href="#!">
        <img src="assets\photos\Group 3.png" alt="navbar" />    
    </a>
    </div>
    <div fxFlex="30">
        <a href="#!">
            <img src="assets\photos\Group 3.png" alt="navbar" />    
        </a>
    </div>
</div>

<div class="inventory" fxLayout="row"  >
    <div  fxFlex="40" fxFlexOffset="15" >
    <a href="#!">
        <img src="assets\photos\Group 3.png" alt="navbar" />    
    </a>
    </div>
    <div class="" fxFlex="30">
        <a href="#!">
            <img src="assets\photos\Group 3.png" alt="navbar" />    
        </a>
    </div>
</div>
<app-footer style="padding-top: 20%;"></app-footer>